div {
  padding: 20px;
  /* margin: 0 auto; */
  /* width: 400px; */
  border: 2px solid red;
  background-color: lightblue;
  /* height: 100px; */
}
#div1 {
  display: inline-block;
  /* margin: 10px; */
  /* float: left; */
  width: 100px;
}
#div2 {
  /* display: inline; */
  /* float: left; */
  /* margin: 10px; */
}
span {
  border: 2px solid black;
  width: 500px;
}
