* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}
header {
  /* border: 1px solid red; */
  padding: 30px;
  /* position: fixed; */
  /* width: 100%; */
  position: sticky;
  top: 0;
  background-color: lightblue;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

header nav {
  margin-top: 10px;
  padding: 20px;
  background-color: lightgray;
}

nav ul li {
  /* border: 1px solid red; */
  display: inline-block;
  /* width: 100px; */
  margin-left: 35px;
}

nav ul li a {
  color: #5d3918;
  text-decoration: none;
}

nav ul {
  position: relative;
}
nav ul li:last-child {
  position: absolute;
  right: 0;
}

#left {
  /* border: 1px solid red; */
  float: left;
  width: 75%;
  padding: 20px;
}
#right {
  padding: 20px;
  float: right;
  width: 25%;
}

/* img
 */
.placeholder {
  width: 100%;
}
article {
  /* padding: 20px; */
}
footer {
  clear: both;
  /* margin-top: 1200px; */
  padding: 20px;
  font-weight: bolder;
}
footer p {
  text-align: center;
}
p {
  font-weight: bold;
  text-align: justify;
}
h2 {
  font-weight: bold;
  font-size: 25px;
}
